<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Payment\State\OrderCommand">
        <plugin name="spellpayment-order-status" type="SpellPayment\Magento2Module\Plugin\OrderStatus" sortOrder="1" disabled="false" />
    </type>
    <preference for="SpellPayment\Magento2Module\Api\LockHelperInterface" type="SpellPayment\Magento2Module\Helper\LockHelper"/>
</config>
